<div id="description">
	<div class="header">
		<h1>KaggleBadge</h1>
	</div>
	<div class="content">
		<p>Generate badges for your Kaggle competitions and keep them up to date by knowing your current position in the leaderboard</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore reiciendis, labore fuga dolorem, omnis sint, est possimus, cum debitis culpa facilis optio. Quisquam minima cumque sunt, eligendi, voluptas eveniet in.</p>
		<p>Aspernatur unde ratione, praesentium, minima quidem adipisci distinctio tenetur! Qui enim necessitatibus nesciunt cum veritatis tempore nemo quis repellat repudiandae, quam? Eius magnam repudiandae eaque, facilis magni nobis impedit incidunt?</p>
		<p>Rem hic quibusdam cupiditate facilis ipsa in, quo inventore! Consequuntur explicabo, voluptate autem. Non incidunt, modi architecto eum neque eveniet perspiciatis. Cupiditate labore, quisquam debitis, placeat quaerat sapiente explicabo recusandae?</p>
		<p>Vel rem praesentium maxime aut labore similique aspernatur accusamus atque, dolorum minima laborum earum nulla nisi nostrum consectetur est. Doloribus hic sunt aperiam ipsam ratione dicta rerum dolorem provident illo.</p>
	</div>
</div>
<div id="register">
	<form>
		<div class="form-group">
			<label for="input-name">Username</label>
			<input type="email" class="form-control" id="input-email" placeholder="Enter your username or team name">
		</div>
		<div class="form-group">
			<label for="input-email">Email address</label>
			<input type="email" class="form-control" id="input-email" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="input-password">Password</label>
			<input type="password" class="form-control" id="input-password" placeholder="Password">
		</div>
		<button type="register" class="btn btn-default">Register</button>
	</form>
</div>
